@import url('https://fonts.googleapis.com/css2?family=Montserrat:wgt@800&display=swap');

.home__content {
    padding: 125px 0px;
}

h1.home__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, .75) !important;
}

h2.home__text {
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

h3.home__text {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

h4.home__text {
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    h2.white.pz__10 {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 450px) {
    h2.home__text.pz__10 {
        font-size: 32px!important;
    }

    h3.sweet.pz__10 {
        font-size: 30px;
    }

    h1.home__text {
        font-size: 16px;
    }

    h4.home__text {
        font-size: 35px;
    }
}